@import "tailwindcss";
@source "./**/*.{ts,tsx}";

@theme {
  --background: hsl(222.2 84% 4.9%);
  --foreground: hsl(210 40% 98%);
  
  --primary: hsl(187.5 92.2% 40%);
  --primary-foreground: hsl(210 40% 98%);
  
  --muted: hsl(217.2 32.6% 17.5%);
  --muted-foreground: hsl(215 20.6% 65%);
  
  --border: hsl(217.2 32.6% 17.5%);
  --input: hsl(217.2 32.6% 17.5%);
  
  --radius: 0.5rem;
}

/* Estilos globales base opcionales para que todo ensamble limpio */
@layer base {
  :root {
    background-color: var(--background);
    color: var(--foreground);
  }
}